<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Runners.NGTestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:\Users\PC\Cucumber\src\java">
        <classes>
            <class name="Runners.RunnersAll"></class>
        </classes>
    </test>
</suite>